<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1 class="text-center mt-2">
            <span class="badge badge-pill badge-dark">Add Card</span>
        </h1>
        <hr class="hr-3 w-25 bg-white" />

        <form class="mx-auto w-25 bg-blur rounded" th:method="post" th:action="@{/card/add}" th:object="${cardAddModel}">

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="cardNumber" class="h4 mb-2">Card Number</label>
                </div>

                <input type="text" class="form-control" id="cardNUmber" th:field="*{cardNumber}" th:errorclass="'is-invalid bg-danger'" />

                <div class="invalid-feedback errors alert alert-danger">
                    <div th:each="err : ${#fields.errors('cardNumber')}" th:text="${err}">Invalid card number</div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="cvc" class="h4 mb-2">CVC</label>
                </div>

                <input type="text" class="form-control" id="cvc" th:field="*{cvc}" th:errorclass="'is-invalid bg-danger'" />

                <div class="invalid-feedback errors alert alert-danger">
                    <div th:each="err : ${#fields.errors('cvc')}" th:text="${err}">Invalid cvc</div>
                </div>
            </div>

            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="cardType" class="h4 mb-2">Card Type</label>
                </div>

                <select class="browser-default custom-select" id="cardType" th:field="*{cardType}" th:errorclass="'is-invalid bg-danger'">
                <option value="">- Select card type -</option>
                <option th:each="t : ${T(com.cayetano.guesscard.model.enumerated.CardType).values()}"
                        th:text="${t.getDisplayName()}"
                        th:value="${t}"
                        th:selected="${t} == *{cardType}">
                    Type
                </option>
            </select>

                <div class="invalid-feedback errors alert alert-danger">
                    <div th:each="err : ${#fields.errors('cardType')}" th:text="${err}">Name</div>
                </div>

            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="validThru" class="h4 mb-2">Expired Date</label>
                </div>
                <input type="date" class="form-control" id="validThru" th:field="*{validThru}" th:errorclass="'is-invalid bg-danger'" />

                <div class="invalid-feedback errors alert alert-danger">
                    <div th:each="err : ${#fields.errors('validThru')}" th:text="${err}"></div>
                </div>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Register">Add card</button>
            </div>

        </form>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>