<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="container bg-blur rounded mt-5 ">
            <h1>Welcome to Cayetano Guess Card</h1>
            <hr class="my-3 bg-white w-90" />

            <h2 class="h4">Double your cash by guessing if the next card will be higher or lower than yours!</h2>
            <hr class="my-3 bg-white w-75" />

            <h3>
                <a class="text-primary" th:href="@{/user/login}">Login</a> if you have an account or
                <a class="text-primary" th:href="@{/user/register}">Register</a> now and play.
            </h3>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-1"></div>

                <div class="top-box col-4">
                    <h4>Weather in
                        <h2>Las Vegas</h2>
                    </h4>
                    <h4><span id="box-b-temp">{0}</span><span>&#8451;</span></h4>
                    <img id="box-b-img" th:src="@{/img/weather/cloudy.png}" height="150px" alt="">
                </div>

                <div class="col-2"></div>

                <div class="top-box col-4">
                    <h4>Weather in
                        <h2>Sofia</h2>
                    </h4>
                    <h5>(The Little Las Vegas)</h5>
                    <h4><span id="box-a-temp">{0}</span><span>&#8451;</span></h4>
                    <img id="box-a-img" th:src="@{/img/weather/sun.png}" height="150px" alt="">
                </div>

                <div class="col-1"></div>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>