version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: guesscard-mysql
    ports:
      - "3306:3306"
#    env_file:
#      - .env
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: guess_card
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data: