<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Guess Card</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/reset-css.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <script defer th:src="@{/js/jquery.min.js}"></script>
    <script defer th:src="@{/js/weather-fetch.js}"></script>
    <script defer th:src="@{/js/bet-vanilla.js}"></script>
</head>

<body>


    <header class="navbar navbar-expand-lg bg-nav rounded">

        <a class="nav-link text-white active h5" th:href="@{/index}">
            <span class="col-md-1">
            <img th:src="@{/img/spade-logo.png}" alt="Logo" width="40" height="40">
        </span>Cayetano Cards
        </a>

        <a class="nav-link text-white active h5" th:if="${@currentUser.isLoggedIn()}" th:href="@{/card/deposit}">
            <span class="col-md-1">
        <img th:src="@{/img/deposit.png}" alt="Logo" width="40" height="40">
        </span> Deposit
        </a>

        <a class="nav-link text-white active h5" th:if="${@currentUser.isLoggedIn()}" th:href="@{/card/cash-out}">
            <span class="col-md-1">
        <img th:src="@{/img/cash-out.png}" alt="Logo" width="40" height="40">
        </span> Cash Out
        </a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">

            <ul class="navbar-nav row" th:if="${@currentUser.isLoggedIn()}">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/user/logout}">Logout</a>
                </li>
                <li></li>
            </ul>

            <ul class="navbar-nav row" th:unless="${@currentUser.isLoggedIn()}">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/user/login}">Login</a>
                </li>

                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/user/register}">Register</a>
                </li>
            </ul>

        </div>
    </header>


    <footer class="footer bg-transparent  py-2">
        <div class="container-fluid text-center">
            <div class="footer-background h5 text-white fixed-bottom">
                <div>
                    &copy; Guess Card 2023. All rights reserved. Developed by andy489.
                </div>
            </div>
        </div>
    </footer>

</body>

</html>